html, body {
    height: 100%;
    margin: 0;
    padding: 0; 
    font-size: 15px;
    font-family: "Arial";
    background: url('/background.png');
    color:white;
}


p {
	font-size: .75em;letter-spacing:.1em;margin: 1em;
}

nav {
    height: 100%;
    font-size: 25px;
    top: 0;
    left: 0;
    width: 25%;
    min-width: 6em;
    background-color: rgba(51,51,51,0.7);
    z-index: 1;
    text-shadow: 0 -1px 0 #bbb;
    color: #eee;
    font-family: Helvetica Neue, Helvetica, arial;
    line-height: 25px;
    padding-left: 25px;
}

input{
	margin-top: 1em;
	width: 85%;
}


input.marker_x,input.marker_y{
	width: 2em;
	
}
input.edit_marker{
float: right;
margin-right: 1.5em;
margin-top: .1em;
}

#user_settings a {
margin-right: 1em;
float: right;
color: white;
}

#phone_number,#email{
float:left;
}


.greyed {
    opacity: 0.05;
}

.hide {
  opacity: 0.0;
}

#map_canvas { 
  height: 100%;
  position: absolute;
  left: 28%;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

nav a{
width: 90%;
text-align: left;
    float: left;clear: both;
	line-height:3em;
	padding-right: 1em;
	display: block;
	color: white;
	font-size: .8em;
}

#login-name-link {
	width: 100%;
}

#login-dropdown-list {
	margin-top: 1em;
}

nav small{clear:both;}

#searchTextField {
  margin: 5px 0 5px 50px;
}
.no-photos {
  color:white;
  margin: 50px 0px 0px 30px
}

nav ul {
list-style-type: none;
margin: 0;line-height: 2em;float: left;	
}

nav li{
	line-height: 1.3em;
}

.close {
  position:fixed;
  top: 20px;
  opacity: .8;
  z-index: 9999;
  right: 20px;
  padding:5px;
}
.close:hover{
  opacity:1;
}


#login {width:100%;clear:both;
  margin:2px 20px 0 0;
}

.popupPhoto {
  height:250px;
  width:250px;
}

.popupText {
  position:relative;
  text-shadow: 0 -1px 0 #bbb;
  color: #333;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 14px;
  line-height: 25px;
  padding: 4px 45px 4px 15px;
  font-weight: bold;
}

.profilePicture {
  height:30px;
  width:30px;
}

.login{
  font-size: 1em;
  text-align: right;
  float: right;
  width: 100%;
}
